.resume {
    flex-basis: 1200px;
}

main {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-areas: "skills bio bio" "skills projects projects" "skills contact contact";
    }
}

.bio {
    grid-area: bio;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.skills {
    grid-area: skills;
}

.wave {
    font-size: 32px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(-10deg)
    }
    20% {
        transform: rotate(12deg)
    }
    30% {
        transform: rotate(-10deg)
    }
    40% {
        transform: rotate(9deg)
    }
    50% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
